<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="com.biomes.vanced" platformBuildVersionCode="35" platformBuildVersionName="15">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="application/vnd.android.package-archive"/>
        </intent>
        <package android:name="com.android.chrome"/>
        <package android:name="com.android.vending"/>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="video/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="audio/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE"/>
            <data android:mimeType="application/vnd.android.package-archive"/>
        </intent>
        <package android:name="com.instagram.android"/>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider"/>
        <package android:name="com.xiaomi.mipicks"/>
        <package android:name="com.xiaomi.market"/>
        <package android:name="com.huawei.appmarket"/>
        <package android:name="com.bbk.appstore"/>
        <package android:name="com.vivo.appstore"/>
        <package android:name="com.oppo.market"/>
        <package android:name="com.hzay.market"/>
        <package android:name="com.meizu.mstore"/>
        <package android:name="com.sec.android.app.samsungapps"/>
        <package android:name="com.lenovo.leos.appstore"/>
        <package android:name="zte.com.market"/>
        <package android:name="org.telegram.messenger"/>
        <package android:name="com.whatsapp"/>
        <package android:name="jp.naver.line.android"/>
        <intent>
            <action android:name="android.intent.action.PICK"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="*"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission android:name="com.biomes.vanced.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.biomes.vanced.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:appComponentFactory="android.app.AppComponentFactory" android:banner="@mipmap/ic_launcher" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/vn" android:largeHeap="true" android:logo="@mipmap/ic_launcher" android:name="com.stub.StubApp" android:requestLegacyExternalStorage="true" android:resizeableActivity="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/xv" android:usesCleartextTraffic="true">
        <activity android:configChanges="keyboardHidden|orientation|screenSize|uiMode" android:exported="true" android:label="@string/vn" android:launchMode="singleTop" android:name="com.biomes.vanced.main.MainActivity" android:screenOrientation="portrait" android:theme="@style/xv">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.biomes.vanced.crash_proxy.VOCPActivity"/>
        <activity android:label="@string/bkv" android:launchMode="singleTop" android:name="com.biomes.vanced.vooapp.re_captcha.VORCActivity" android:theme="@style/xk"/>
        <provider android:authorities="com.biomes.vanced.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/p"/>
        </provider>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="@string/bkx" android:name="com.biomes.vanced.vooapp.VORActivity" android:taskAffinity="" android:theme="@style/fx">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:scheme="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <service android:exported="false" android:name="com.biomes.vanced.vooapp.VOFTSService"/>
        <activity android:launchMode="singleTask" android:name="com.biomes.vanced.vooapp.player.background.guide_dialog.VOLSRActivity" android:screenOrientation="behind" android:theme="@style/fx"/>
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="specialUse" android:name="com.vanced.module.search_bar_impl.search_bar.VOSBARService">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="@string/bco"/>
        </service>
        <activity android:name="com.vanced.module.me_impl.me.VOMEActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <activity android:name="com.vanced.module.me_impl.policy.VOPWActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <activity android:name="com.vanced.module.settings_impl.VOSTActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <activity android:name="com.vanced.ad.adbusiness.test.VOADTActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.vanced.module.account_impl.page.account.VUsrActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <activity android:exported="true" android:name="com.vanced.module.deeplink_impl.VODLActivity" android:theme="@style/xk">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="@string/bps"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/bpc" android:scheme="@string/bpj"/>
            </intent-filter>
        </activity>
        <activity android:name="com.vanced.module.deeplink_impl.browser.OFIBActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <service android:exported="false" android:name="com.vanced.module.push_impl.fcm.VOFSService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="com.vanced.module.feedback_impl.page.VOFHActivity" android:screenOrientation="portrait" android:theme="@style/xk" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.vanced.module.feedback_impl.page.report.copyright.OFRDActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vn" android:name="com.vanced.ad.ad_sdk.ui.VOADSAActivity" android:screenOrientation="portrait" android:theme="@style/l"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vn" android:launchMode="singleTop" android:name="com.vanced.ad.ad_sdk.ui.OFALActivity" android:screenOrientation="portrait" android:theme="@style/l"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vn" android:launchMode="singleTop" android:name="com.vanced.ad.ad_sdk.ui.OFNIActivity" android:screenOrientation="portrait" android:theme="@style/l"/>
        <provider android:authorities="com.biomes.vanced.ad_provider" android:exported="false" android:grantUriPermissions="true" android:name="com.vanced.ad.ad_one.sdk.ui.VOOADFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/a"/>
        </provider>
        <provider android:authorities="com.biomes.vanced.download.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.flatads.sdk.util.FlatFileProvider2">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/l"/>
        </provider>
        <provider android:authorities="com.biomes.vanced.pps.innerapiprovider" android:exported="false" android:name="com.huawei.openalliance.ad.ppskit.provider.InnerApiProvider2"/>
        <provider android:authorities="com.biomes.vanced.hiad.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.huawei.openalliance.ad.ppskit.provider.PPSInstallFileProvider2"/>
        <provider android:authorities="com.biomes.vanced.vungle-provider" android:exported="false" android:name="com.vungle.warren.utility.VungleProvider2"/>
        <provider android:authorities="com.biomes.vanced.MobileAdsInitializeProvider" android:exported="false" android:name="com.yandex.mobile.ads.core.initializer.MobileAdsInitializeProvider2"/>
        <provider android:authorities="com.biomes.vanced.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider2"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vn" android:launchMode="singleTop" android:name="com.vanced.ad.ad_one.sdk.interstitial.VOIADActivity" android:screenOrientation="portrait" android:theme="@style/u"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/vn" android:launchMode="singleTop" android:name="com.vanced.browser.ui.OFABActivity" android:screenOrientation="portrait" android:theme="@style/xk"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/bov"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/bos"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.vungle.ads.internal.ui.RealVungleActivity"/>
        <activity-alias android:name="com.vungle.ads.internal.ui.VungleActivity" android:targetActivity="com.vungle.ads.internal.ui.RealVungleActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.flatads.sdk.ui.activity.RealFlatInterstitialActivity" android:screenOrientation="portrait" android:theme="@style/r4"/>
        <activity-alias android:name="com.flatads.sdk.ui.activity.InterstitialAdActivity" android:targetActivity="com.flatads.sdk.ui.activity.RealFlatInterstitialActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.mbridge.msdk.reward.player.RealMBRewardVideoActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity-alias android:name="com.mbridge.msdk.reward.player.MBRewardVideoActivity" android:targetActivity="com.mbridge.msdk.reward.player.RealMBRewardVideoActivity"/>
        <provider android:authorities="com.biomes.vanced.AdHelperProxyProvider" android:exported="false" android:name="com.vanced.ad.ad_sdk.proxy.VOAHPProvider"/>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.biomes.vanced.vooapp.player.VOPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.RewardedActivity" android:screenOrientation="portrait" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.InterstitialLanActivity" android:screenOrientation="landscape" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.RewardedLanActivity" android:screenOrientation="landscape" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.InteractiveWebActivity" android:screenOrientation="portrait" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.DownloadManagerActivity" android:screenOrientation="portrait" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.flatads.sdk.ui.activity.OpenScreenActivity" android:screenOrientation="portrait" android:theme="@style/d"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:launchMode="singleTop" android:name="com.flatads.sdk.core.domain.ad.common.InternalWebActivity" android:screenOrientation="portrait" android:theme="@style/d"/>
        <provider android:authorities="com.biomes.vanced.plumber-installer" android:enabled="@bool/a" android:exported="false" android:name="leakcanary.internal.PlumberInstaller"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <provider android:authorities="com.biomes.vanced.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ktx.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.ktx.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/s7"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.biomes.vanced" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.bumptech.glide.integration.webp.WebpGlideModule" android:value="GlideModule"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/q"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.biomes.vanced.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/u" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/e" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/l" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/u" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/dk"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService">
            <meta-data android:name="com.google.android.play.core.assetpacks.versionCode" android:value="11003"/>
        </service>
        <service android:enabled="false" android:exported="false" android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:name="com.mbridge.msdk.interstitial.view.MBInterstitialActivity"/>
        <activity android:configChanges="keyboard|orientation" android:excludeFromRecents="true" android:exported="false" android:name="com.mbridge.msdk.activity.MBCommonActivity" android:theme="@style/mbridge_transparent_common_activity_style"/>
        <activity android:name="com.mbridge.msdk.out.LoadingActivity"/>
    </application>
</manifest>
